<!-- Start Achivement Area -->
<section class="section-gap achivement-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="achivement-content">
          <h2>Our Achievements</h2>
          <p class="mb-30">Few would argue that, despite the advancements of feminism over the past three decades,
          women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often
          laughed off as “boys will be boys,” women face higher conduct </p>
          <a href="#" class="primary-btn">View More<span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="total-achivement">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-behance"></i>
                </a>
                <h6><a href="#">Behance Review</a></h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-dribbble"></i>
                </a>
                <h6><a href="#">Dribbble Shots</a></h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-youtube"></i>
                </a>
                <h6><a href="#">Youtube Subscribe</a></h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-github"></i>
                </a>
                <h6><a href="#">Github Push</a></h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-trophy"></i>
                </a>
                <h6><a href="#">Offline Trophy</a></h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-achivement">
                <a href="#" class="achivement-link">
                  <i class="fa fa-usd"></i>
                </a>
                <h6><a href="#">Cash Prizes</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Achivement Area -->
